{% extends 'base.html' %}
{% load static %}

{% block title %} Startapper Page {% endblock %}
{% block body %}
    <div class="container mt-5 pb-5">
        <h1>StartapperAccount form</h1>
        <!-- -->

        <form action="{% url 'startapper_account' %}" method="post">
            {% csrf_token %}
            <div class='form-group'>
                <!--                            {{obj.username}}-->
                {{obj.full_name}}
                {{obj.email}}
                {{obj.user_type}}
                {{obj.phone}}
                <!--                            {{obj.user_type}}-->
                {{form.bio}}
                <p class="mt-3 ">Shahar: </p>
                {{form.country}}
                {{form.image}}
                <input type="submit" class=" btn btn-primary" value="saqlash">
            </div>
        </form>
    </div>

{% endblock %}